* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../../イメージ/img７/mv.jpg);
  background-size: cover;
  background-position: bottom;
  height: 400px;
  width: 100%;
  padding: 20px 0 0 20px;
}

h1 {
  color: rgb(155, 103, 103);
}

section {
  padding: 30px 0;
  border-bottom: 1px solid #d1d1d1;
}

main {
  padding: 20px 0 50px 0;
  width: 840px;
  margin: 0 auto;
}
